///---------- font
$fontsize: 15px;
$fontfamily: iranyekan;
///---------- color
$white: #ffffff;
$black: #000000;

$dark100:#282828;

$gary100:#F6F6F6;
$gray200:#696969;
$gray300:#F0F3FA;

$purple100:#7035C6;

$blue100:#9CFFE4;